.navbar-nav {
    background: gray;
    .container {
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-items {
        list-style: none;
        padding: 0 !important;
        margin: 0 0 0 20px;
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin-right: 10px;
    }

    .nav__link, .navbar__brand {
        text-decoration: none;
        color: white !important;
    }
}